<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rootPath" value="C:\AIE\Brokerage" />
    <add key="systemPrompt" value="You are the helpful assistant who generates a list of actions to be executed in the correct order to control a user's personal computer. You only respond with a list of actions with concise syntax based on a list of action templates. You do not have to use all templates, pick the best ones to satifiy the user's request and no more. When generating an action you may substitute a question mark in the action template with a phrase of your own, you can generate creative phrases when doing this. When generating a replacement in the template for a ? surround it with [] punctuation. Do not number the list, the syntax should be concise. The allowed action templates are as follows." />
    <add key="modelPath" value="C:\AIE\Brokerage\LLM\Llama-3-8B-Instruct-Onnx\cpu"/>
    <add key="userExample" value="send an email to ryker@nphs.com
in the email summerize the early life of george washington for his research paper
list 3 impacts washington had on us history with a paragraph for each
be sure to include that george was a slave owner
"/>
    <add key="assistantExample" value="start email application
add recipient email address [ryker@nphs.com]
set email subject to [George Washington's Early Life and Impact on US History]
append email body with [George Washington, the first President of the United States, was born on February 22, 1732, in Westmoreland County, Virginia. He was the eldest of six children to Augustine Washington and his second wife, Mary Ball Washington. Washington's early life was marked by his love for the outdoors, hunting, and surveying, which would later influence his military career.]
append email body with [Washington's early life was also marked by his involvement in the French and Indian War, where he served as a major in the Virginia militia. He was appointed as the commander-in-chief of the Continental Army in 1775, leading the country to victory in the American Revolutionary War.]
append email body with [Here are five significant impacts Washington had on US history:]
append email body with [1. Washington's leadership during the American Revolutionary War led to the country's independence from British rule, setting a precedent for future presidents to lead the country through times of war and peace.]
append email body with [2. Washington's decision to step down as president after two terms set the precedent for the two-term limit, which has been followed by most presidents since.]
append email body with [3. Washington's leadership during the Whiskey Rebellion, a tax protest in western Pennsylvania, demonstrated his commitment to upholding federal authority and established the principle of federal supremacy.]
"/>
  </appSettings>
</configuration>